@model List<IlmdostPanel.Models.Company>
@{
    ViewBag.Title = "Managecompany";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Manage Company</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Company</a></li>
                        <li class="breadcrumb-item active">Manage Company</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Companies List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Company&nbsp;Name</th>
                                        <th>Registration&nbsp;No</th>
                                        <th>Owner&nbsp;Name</th>
                                        <th>Company&nbsp;Contact</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model) { 
                                        <tr>
                                            <td>@item.company_name</td>
                                            <td>@item.company_registration</td>
                                            <td>@item.company_owner</td>
                                            <td>@item.company_contact</td>
                                            <td>@item.company_address</td>
                                            <td>@item.company_status</td>
                                            <td>
                                                <a href="~/Company/Editcompany?company_id=@item.company_id">Edit<i class="la la-upload"></i></a>
                                                <a href="~/Company/Editcompany?company_id=@item.company_id">Delete<i class="la la-edit edit"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Registration&nbsp;No</th>
                                        <th>Owner&nbsp;Name</th>
                                        <th>Company&nbsp;Contact</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

